<!-- public/templates/modals/alertsList.html -->
<md-dialog aria-label="Alerts Dialog">
  <md-content>
    <div layout="column">
      <div layout="row"><div  class="h3">Alerts</div></div>
      <div layout="row">
        <md-list>
          <md-item  ng-repeat="alert in alerts">{{alert.msg}}
            <br> {{alert.date_start}} - {{alert.date_end}}
          </md-item>
        </md-list>
      </div>
    </div>
  </md-content>
  <div class="md-actions">
    <md-button type="button" class="btn btn-primary" ng-click="ok()">OK</md-button>
  </div>
</md-dialog>

<!-- <ul class="alerts"  aria-labelledby="dLabel" style="list-style-type: none;">
  <li class="alert-li" ng-repeat="alert in alerts">
      <alert class="location-alert" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </li>
</ul> -->
