<!-- public/templates/modals/alertsList.html -->
  <div class="modal-header">
    <div class="row"  >
      <div class="pull-left" style="padding-left:15px;">
        <h3 class="modal-title">Alerts</h3>
      </div>

      <div class="pull-right" style="padding-right:15px;">
        <button type="button"  class="btn btn-primary" ng-click="ok()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <ul class="alerts"  aria-labelledby="dLabel" style="list-style-type: none;">
      <li class="alert-li" ng-repeat="alert in alerts">
          <alert class="location-alert" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      </li>
    </ul>

  </div>
  <div class="modal-footer">

  </div>
