<!-- public/templates/modals/locationModalContent.html -->
<md-dialog aria-label="List dialog">
  <md-content>
    <div layout="column">
      <div layout="row">
        <div>
          <button type="button" class="location-heat-lg" style="background-color: {{ getcolor(loc.current_state/loc.max_cap) }}">&nbsp;</button>
        </div>
        <div flex class="h3">{{loc.name}}</div>
      </div>
      <div layout="row" layout-wrap>
        <div flex="25">website:</div>
        <div flex="75"> {{loc.site_url}}</div>
      </div>
      <div layout="row" layout-wrap>
        <div flex="25">yelp::</div>
        <div flex="75">{{loc.yelp_url}}</div>
      </div>
      <div layout="row" layout-wrap>
        <div flex="25"># of fans::</div>
        <div flex="75">{{loc.fanscnt}}</div>
      </div>

      <div layout="row">
        <md-list>
          <md-item ng-repeat="alert in loc.alerts">{{alert.msg}}
            <br> {{alert.date_start}} - {{alert.date_end}}
          </md-item>
        </md-list>
      </div>
    </div>
  </md-content>
  <div class="md-actions">
    <md-button type="button" class="btn btn-primary" ng-click="ok()">OK</md-button>
  </div>
</md-dialog>
