<form name="myForm" novalidate ng-submit="submit(myForm)">
  <div class="modal-header">
    <div class="row"  >
      <div class="pull-left" style="padding-left:15px;">
        <h3 class="modal-title">Login/Signup</h3>
      </div>

      <div class="pull-right" style="padding-right:15px;">
        <button type="button"  class="btn btn-primary" ng-click="ok()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <span ng-if="warn">you need to be signed in to do that.</span>
    <!-- <input type="text" placeholder="email" value="">
    <input type="password" value=""> -->
  </div>
  <div class="modal-footer">

  </div>
</form>
