/*
 *= require bootstrap-material-design
 *
 */

#new-location,
.edit {
position: relative;
margin: 0;
width: 100%;
font-size: 24px;
font-family: inherit;
line-height: 1.4em;
border: 0;
outline: none;
color: inherit;
padding: 6px;
border: 1px solid #999;
box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
font-smoothing: antialiased;
}

#new-location {
padding: 16px 16px 16px 60px;
border: none;
background: rgba(0, 0, 0, 0.02);
z-index: 2;
box-shadow: none;
}



.location-heat {
/*	float: left; */
	width: 25px;
	height: 25px;
	border: 1px;
	border-color: #000000;
	background-color: #0000ff;
	vertical-align: middle;
}
.location-heat-lg {
/*	float: left; */
	width: 75px;
	height: 75px;
	border: 1px;
	border-color: #000000;
	background-color: #0000ff;
}
/*#locationtable{
	width: 300px;
}*/

.favorite {
/*	float: left; */
	color: red;
}

.yellow {
/*	float: left; */
	color: yellow;
}
.green {
/*	float: left; */
	color: green;
}

.info-icon {
	width: 15px;
	height: 15px;
	margin: 0px;
	border: 1px;
	border-color: #000000;
	padding: 0px;

}





.location-entry{

}


@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes lightSpeedOut {
  100% {opacity: 1;}
  0% {opacity: 0;}
}

@keyframes lightSpeedOut {
  100% {opacity: 1;}
  0% {opacity: 0;}
}

.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
}
/*
http://www.yearofmoo.com/2013/12/staggering-animations-in-angularjs.html
*/
.location-entry.ng-enter-stagger {
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-animation-duration:0;
  -moz-animation-duration:0;
  -o-animation-duration:0;
  animation-duration:0;
}
/*
.location-entry.ng-leave-stagger {

  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;


  -webkit-animation-duration:0;
  -moz-animation-duration:0;
  -o-animation-duration:0;
  animation-duration:0;
}
*/
.location-entry.ng-enter {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
 	-o-animation: fadeIn 2s;
  animation: fadeIn 2s;

  opacity:0;

}
.location-entry.ng-leave {
	/*
  -webkit-animation: lightSpeedOut 2s;
  -moz-animation: lightSpeedOut 2s;
 	-o-animation: lightSpeedOut 2s;
  animation: lightSpeedOut 2s;
*/
opacity: 0;
line-height: 0px;


}
.location-entry.ng-leave.ng-leave-active {
	/*
  -webkit-animation: lightSpeedOut 2s;
  -moz-animation: lightSpeedOut 2s;
 	-o-animation: lightSpeedOut 2s;
  animation: lightSpeedOut 2s;
  */

  opacity: 0;
  line-height: 0px;


}
.location-entry.ng-enter.ng-enter-active {


}
.location-alert{
	margin-top: 0px;
	margin-bottom: 0px;
}

.table-striped > tbody > tr.location-entry.ng-enter.ng-enter-active:nth-child(odd) > td, .table-striped > tbody > tr.location-entry.ng-enter.ng-enter-active:nth-child(odd) > th {
   background-color: #F9F9F9;
}










/*for polymer/paper paper-icon-button*/
paper-icon-button {
  vertical-align: middle;
}

paper-icon-button.hover:hover {
  background: #eee;
  border-radius: 50%;
}

paper-icon-button.red {
  color: #fe774d;
}

paper-icon-button.blueRipple::shadow #ripple {
  color: #4285f4;
}

paper-icon-button.huge::shadow #icon {
  width: 100px;
  height: 100px;
}

/*      core-selector paper-icon-button:not([active])::shadow core-icon {
  color: #c9c9c9;
}
*/
paper-icon-button.custom {
  color: #a9edff;
}
