<!DOCTYPE html>
<html>
<head>
  <title>HeadcountApp3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= if current_page?(controller: 'welcome', action: 'index') then 
  	    javascript_include_tag 'application', 'data-turbolinks-track' => true
  	  end  %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
