<!DOCTYPE html>
<html lang="en"  ng-app="headcount" controller="HomeCtrl">

	<head>
	  <title>HeadcountApp</title>

	 	<% if current_page?('/welcome/index') or current_page?('/') %>
	  <%=  realtime_support %>
		<%=  realtime_message_handler %>
    <%=  realtime_message_console_logger %>
	  <% end %>
	 <%= #if current_page?('/welcome/index') or current_page?('/') then 
	 			
  	  javascript_include_tag 'application-angular', 'data-turbolinks-track' => true
  	#end 
  	%>
	 
 
	 <%= stylesheet_link_tag("application") %>
	 <%= stylesheet_link_tag("custom") %>
	 <%= stylesheet_link_tag("base") %>
	  <%= csrf_meta_tags %>
	</head> 
	<body>
		
	  <%= render 'layouts/header' %>
	  <div class="container">
	    <%= render 'layouts/messages' %>
	    <div ng-view>
  			<%= yield %>
			</div>
	    <%= render 'layouts/footer' %>
	  </div>
	</body>
</html>